{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'designer/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'designer/secundary.css' %}">
	<link rel="stylesheet" type="text/css" href="static/designer/secundary.css">

	<title> Antenna Designer </title>
	
</head>
<body>
	<header>
		<h1 style="text-align: center"> Antenna Designer</h1>
	</header>

	<div class="test">
		<button><a class="button" href="{% url 'designer-dipole' %}"> Dipole </a></button>
		<button><a class="button" href="{% url 'designer-horn' %}"> Horn </a></button>
	</div>
	
				
				
	
</body>
</html>